[Unit]
Description=Provisioner Cache
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/opt/nginx
ExecStart=/usr/bin/docker compose -f /opt/nginx/docker-compose.yaml up -d
ExecStop=/usr/bin/docker compose -f /opt/nginx/docker-compose.yaml down
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
